.space{
  padding-left: 86px;
  box-sizing: border-box;
}
.title{
  margin-top: 48px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.text{
 max-width: 508px;
 min-width: 408px;
 height: auto;
 margin-top: 117px;
 font-size: 24px;
 font-weight: 400;
}
.label__input{
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  row-gap: 5px;
}

.label{
  color: #3E3E3E;
  font-size: 14px;
}

.input{
  width: 285px;
  height: 38px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 8px;
}
.paragraph{
  max-width: 531px;
  min-width: 120px;
  height: auto;
  margin-top: 21px;
  font-size: 19px;
  font-weight: 500;
}
.button{
  width: 341px;
  height: 58px;
  background-color: #4261CF;
  border-radius: 11px;
  color: #fff;
  margin-top: 14px;

}

@media screen and (max-width:683px) {
  .space{
    padding-left: 19px;
  }
}