a{
  text-decoration: none;
  color: #fff;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #2C2C2C;
}
.header__wrapper {
  width: 90%;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
  column-gap: 46px;
}
.btn {
  width: 170px;
  height: 43px;
  border-radius: 15px;
  background-color: #38C357;
  color: #fff;
}

@media screen and (max-width:677px) {
  .nav{
    display: none;
  }

  .header__wrapper{
    height: 80px;
    justify-content: space-between;
  }

  .btn {
    width: 99px;
    height: 39px;
  }
}